body {
  background: url(The_Blueprint.png) no-repeat center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-weight: bold;
  font-size: 25px;
}
